## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.703245  1.106702
   2  0.520344  0.824024
   3  1.124930  0.504477
G2 1  0.364522 -0.242119
   2 -0.106658 -0.555863
   3  0.152530  1.839213

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [6]:
df.loc['G1']

          A         B
1 -1.703245  1.106702
2  0.520344  0.824024
3  1.124930  0.504477

In [7]:
df.loc['G1'].loc[1]

A   -1.703245
B    1.106702
Name: 1, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [10]:
df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1   -1.703245  1.106702
      2    0.520344  0.824024
      3    1.124930  0.504477
G2    1    0.364522 -0.242119
      2   -0.106658 -0.555863
      3    0.152530  1.839213

In [11]:
df.xs('G1')

            A         B
Num
1   -1.703245  1.106702
2    0.520344  0.824024
3    1.124930  0.504477

In [12]:
df.xs(['G1',1])

A   -1.703245
B    1.106702
Name: (G1, 1), dtype: float64